{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% block content %}

    <div class="card mb-4">
        <h6 class="header"> Price </h6>
        <div class="list-group list-group-flush">
            <li class="list-group-item">
                <input type="range" min="{{ min_max_price.price__min }}" id="rangeInput" max="{{ min_max_price.price__max }}" oninput="maxPrice.value=this.value">
            </li>
            <li class="list-group-item">
                Max:<br/>
                <input type="number" onkeyup="rangeInput.value=this.value" id="maxPrice" min="{{ min_max_price.price__min }}" max="{{ min_max_price.price__max }}">
                <br/>
                <button id="priceFilterBtn" onclick="Filter()" type="filter" class="btn btn-info btn-sm mt-2"> Filter </button>
                <script>
                    function Filter() {
                        console.log('Filter button clicked')
                        let maxPrice = $('#maxPrice').val();
                        window.location.href = '{% url "home" %}?max_price=' + maxPrice;
                    }
                </script>

            </li>
        </div>
    </div>
    <div class="row">

        {% for book in books %}
            <div class="col-lg-4">
                    <img class=thumbnail src="{{ book.image_url }}" alt="{{ book.title }}">
                <div class="box-element product">
                    <h6><strong> {{ book.title }} </strong></h6><hr>
                    {% if book.quantity > 0 %}
                        <button data-book="{{book.pk}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    {% else %}
                        <button disabled class="btn btn-outline-secondary add-btn update-cart">Not Available</button>
                    {%  endif %}
                    <h5 style="display: inline-block;float: right"> ${{ book.price }} </h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
