{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% block content %}

{#    <form method="GET" action="{% url 'home' %}">#}
{##}
{#        <label for="price">Price:</label>#}
{#        <select name="price">#}
{#            <option value="">All</option>#}
{#            <option value="0-20">$0 - $20</option>#}
{#            <option value="20-50">$20 - $50</option>#}
{#            <option value="50-100">$50 - $100</option>#}
{#        </select>#}
{##}
{#        <button type="submit">Filter</button>#}
{#    </form>#}
    <div class="row">
        {% for book in books %}
            <div class="col-lg-4">
                    <img class=thumbnail src="{{ book.image_url }}" alt="{{ book.title }}">
                <div class="box-element product">
                    <h6><strong> {{ book.title }} </strong></h6><hr>
                    {% if book.quantity > 0 %}
                        <button data-book="{{book.pk}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    {% else %}
                        <button disabled class="btn btn-outline-secondary add-btn update-cart">Not Available</button>
                    {%  endif %}
                    <h5 style="display: inline-block;float: right"> ${{ book.price }} </h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
